<!--component html goes here -->
<div class="modal-dialog modal-lg" draggable="true" style="overflow:auto;height: 450px">
    <div class="modal-content">
        <div style="float:right"><i class="fa fa-times" (click)="this.close()"></i></div>
        <div class="modal-title">Your Details</div>
        <div class="center">
            <img src="http://theloungehotel.com/assets/images/Home-1/icon-our.png">
        </div>
        <form [formGroup]="userform" (ngSubmit)="submit()">
            <div style="border:1px;">
                <div class="row" style="padding-top: 18px">
                    <div class="col-md-2" style="padding-left: 40px">
                        <label>Name:
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text"  formControlName="Name">
                        <small style="color:red" [hidden]="userform.controls.Name.valid || (userform.controls.Name.pristine && !userform.submitted)">
                            Name is required .</small>
                        <small style="color:red" *ngIf="this.error && !this.userform.value.Name">
                            Name is required .</small>
                    </div>
                    <div class="col-md-2" style="padding-left: 40px">
                        <label>Email:
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text"  formControlName="Email">
                        <small style="color:red" [hidden]="userform.controls.Email.valid || (userform.controls.Email.pristine && !userform.submitted)">
                            Email is required .</small>
                        <small style="color:red" *ngIf="this.error && !this.userform.value.Email">
                            Email is required .</small>
                    </div>
                </div>
                <div class="row" style="padding-top: 18px">
                    <div class="col-md-2" style="padding-left: 40px">
                        <label>Moblie:
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" formControlName="Mobile">
                        <small style="color:red" [hidden]="userform.controls.Mobile.valid || (userform.controls.Mobile.pristine && !userform.submitted)">
                            Mobile is required .</small>
                        <small style="color:red" *ngIf="this.error && !this.userform.value.Mobile">
                            Mobile is required .</small>
                    </div>
                    <div class="col-md-2" style="padding-left: 40px">
                        <label>Address:
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" formControlName="Address">
                        
                    </div>
                </div>
                <div class="row" style="padding-top: 18px">
                    <div class="col-md-2" style="padding-left: 40px">
                        <label>City:
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" formControlName="City">
                    </div>
                    <div class="col-md-2" style="padding-left: 40px">
                        <label>State:
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" formControlName="State">
                    </div>
                </div>
            </div>
            <div class="center" style="margin-top:0%;padding-top: 0%">
                <button type="submit"  *ngIf="userform.valid && !userform.invalid " class="read-more">Book</button>
                <button type="button" class="read-more" *ngIf="userform.invalid && !userform.valid"  (click)="this.error=true" >Book</button>
                &nbsp;
                <button type="button" class="read-more" (click)="this.close()">Close</button>
            </div>
        </form>
    </div>
</div>