<!--component html goes here -->
<div class="modal-dialog modal-lg" draggable="true">
    <div class="modal-content" style="overflow: auto">
        <div class="modal-title">Your Details</div>
        <div class="center">
            <img src="../../assets/images/Home-1/icon-our.png">
        </div>
        <form [formGroup]="userform" (ngSubmit)="submit()">
            <div style="border:1px;">
                <div class="row" style="padding-top: 25px">
                    <div class="col-md-2" style="padding-left: 40px">
                        <label>Name:
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" formControlName="Days" formControlName="Adults">
                    </div>
                    <div class="col-md-2" style="padding-left: 40px">
                        <label>Email:
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" formControlName="Days" formControlName="Adults">
                    </div>
                </div>
                <div class="row" style="padding-top: 25px">
                    <div class="col-md-2" style="padding-left: 40px">
                        <label>Moblie:
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" formControlName="Days" formControlName="Adults">
                    </div>
                    <div class="col-md-2" style="padding-left: 40px">
                        <label>Address:
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" formControlName="Childrens">
                    </div>
                </div>
                <div class="row" style="padding-top: 25px">
                    <div class="col-md-2" style="padding-left: 40px">
                        <label>City:
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" formControlName="Days" formControlName="Adults">
                    </div>
                    <div class="col-md-2" style="padding-left: 40px">
                        <label>State:
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" formControlName="Childrens">
                    </div>
                </div>
            </div>
            <div class="center" style="margin-top:0%">
                <button type="submit" class="read-more">Book</button>
                &nbsp;
                <button type="button" class="read-more" (click)="this.close()">Close</button>
            </div>
        </form>
    </div>
</div>