<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                <div class="about-centent">
                    <h2 class="about-title">About Us</h2>
                    <div class="line"></div>
                    <p class="about-p">Contrary to popular belief, Lorem isn’t simply random text. It has roots in
                        a of classical Latin literature from 45 BC, making it over 2000 years old. Avalon’s leading
                        hotels with gracious island hospitality, thoughtful amenities and distinctive</p>
                    <p class="about-p1">Richard McClintock, a Latin professor at Hampden-Sydney College in
                        Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                        passage ...</p>
                    <a href="#" class="read-more">READ MORE </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 ">
                <div class="about-img">
                    <div class="img-1">
                        <img src="assets/images/Home-1/about-3.jpg" class="img-responsive" alt="Image">
                        <div class="img-2">
                            <img src="assets/images/Home-1/about-1.jpg" class="img-responsive" alt="Image">
                        </div>
                        <div class="img-3">
                            <img src="assets/images/Home-1/about-2.jpg" class="img-responsive" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>