
    <!-- ABOUT -->
    <section class="section-about">
            <div class="container" style="padding-top:25px;">
                <div class="row">
                    <div class="wrap-about">
                        <!-- ITEM -->
                        <div class="about-item">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding-right">
                                <!-- SLIDER -->
                                <div class="section-slider height-v-about">
                                    <div id="index12" class="owl-carousel  owl-theme">
                                        <div class="item">
                                            <img alt="Third slide" src="assets/images/About/about.jpg" class="img-responsive">
                                        </div>
                                        <!-- <div class="item">
                                            <img alt="Third slide" src="../../assets/images/About/about-1.jpg" class="img-responsive">
                                        </div> -->
                                    </div>
                                </div>
                                <!-- END / SLIDER -->
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding-left">
                                <div class="text">
                                    <h2 class="heading">ABOUT US</h2>
                                    <div class="desc">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                        <br>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="about-item about-right">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  no-padding-left col-lg-push-6 col-md-push-6 ">
                                <div class="img">
                                    <img src="assets/images/About/about-1.jpg" alt="#" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding-right col-lg-pull-6 col-md-pull-6">
                                <div class="text">
                                    <h2 class="heading">WHY GUEST CHOOSE  LOUNGE HOTEL?</h2>
                                    <div class="desc">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                                            <br>desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>
            </div>
        </section>