<section class="banner-tems text-center">
    <div class="container">
        <div class="banner-content">
            <h2>FACILITIES</h2>
            <p>Facilities provided by The Lounge Hotel</p>
        </div>
    </div>
</section>
<!-- GALLERY -->
<section class="best">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-1.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Master Bedrooms</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-10.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Television</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-3.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Shower & Toiletries</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-4.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Wifi Coverage</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-5.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">AwESOME pACKAGES</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-6.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">cLEANING eVERDAY</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-9.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Towel</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-8.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Airport Taxi</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-11.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">36 Rooms</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-12.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Satellite Channels</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-13.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Parking Area</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-14.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">24-Hours Front Desk</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-15.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">24-Hours Room Service</h6>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="wrap-best">
                        <div class="icon-best">
                            <img src="assets/images/Home-1/about-icon-16.png" class="img-responsive" alt="Image">
                        </div>
                        <h6 class="sky-h6">Linen</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>