<section class="banner-tems text-center">
    <div class="container">
        <div class="banner-content">
            <h2>GALLERY</h2>
            <p>Lorem Ipsum is simply dummy text of the printing</p>
        </div>
    </div>
</section>
<!-- GALLERY -->
<div class=" gallery-our wrap-gallery-restaurant gallery_1 gallery_2 ">
    <div class="container">
        <div class="gallery gallery-restaurant">
            <!-- FILTER -->
            <div class="gallery-cat  text-uppercase">
                <ul class="list-inline">
                    <li class="active"><a href="#" data-filter="*">All</a></li>
                    <li><a href="#" data-filter=".ground">HOTEL &amp; GROUND</a></li>
                    <li><a href="#" data-filter=".suite">ROOM/SUITE </a></li>
                    <li><a href="#" data-filter=".bathroom">BATHROOM</a></li>
                    <li><a href="#" data-filter=".dining">DINING</a></li>
                </ul>
            </div>
            <!-- END / FILTER -->
            <!-- GALLERY CONTENT -->
            <div class="gallery-content">
                <div class="row">
                    <div class="gallery-isotope col-3">
                        <!-- ITEM SIZE -->
                        <div class="item-size "></div>
                        <!-- END / ITEM SIZE -->
                        <!-- ITEM -->
                        <div class="item-isotope suite dining ">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-.jpg" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="images/Gallery/Gallery.jpg" class="img-responsive" alt="Product" title="images products"></a>
                                    <p>Lorem Ipsutm is simply dummy text of the printing</p>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope  ground  suite dining">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-1-1.jpg" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="images/Gallery/Gallery-1.jpg" class="img-responsive" alt="Product" title="images products"></a>
                                    <p>Lorem Ipsutm is simply dummy text of the printing</p>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope  ground bathroom dining">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-2-2.jpg" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="images/Gallery/Gallery-2.jpg" class="img-responsive" alt="Product" title="images products"></a>
                                    <p>Lorem Ipsutm is simply dummy text of the printing</p>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope  dining ">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-3-3.jpg" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="images/Gallery/Gallery-3.jpg" class="img-responsive" alt="Product" title="images products"></a>
                                    <p>Lorem Ipsutm is simply dummy text of the printing</p>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope  ground suite bathroom dining">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-2-2.jpg" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="images/Gallery/Gallery-4.jpg" class="img-responsive" alt="Product" title="images products"></a>
                                    <p>Lorem Ipsutm is simply dummy text of the printing</p>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope ground suite bathroom dining">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-1-1.jpg" data-littlelightbox-group="gallery" title="Flying is life"><img src="images/Gallery/Gallery-6.jpg" alt="#" class="img-responsive"></a>
                                    <div class="section-video ">
                                        <a class="btn-play" href="#modal-video-1"></a>
                                        <div id="modal-video-1" class="modal-video" data-video="https://www.youtube.com/embed/ibuUmMhD2Pg" data-query-string="ecver=1&autoplay=1&showinfo=0&controls=0&modestbranding=1">
                                            <iframe allowfullscreen="" height="394"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope ground suite dining bathroom">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-3-3.jpg" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="images/Gallery/Gallery-5.jpg" class="img-responsive" alt="Product" title="images products"></a>
                                    <p>Lorem Ipsutm is simply dummy text of the printing</p>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope  ground bathroom suite dining">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-2-2.jpg" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="images/Gallery/Gallery-8.jpg" class="img-responsive" alt="Product" title="images products"></a>
                                    <p>Lorem Ipsutm is simply dummy text of the printing</p>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope bathroom ground  ">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-4-4.jpg" data-littlelightbox-group="gallery" title="Flying is life"><img src="images/Gallery/Gallery-7.jpg" alt="#" class="img-responsive"></a>
                                    <div class="section-video ">
                                        <a class="btn-play" href="#modal-video-1"></a>
                                        <div id="#" class="modal-video" data-video="https://www.youtube.com/embed/ibuUmMhD2Pg" data-query-string="ecver=1&autoplay=1&showinfo=0&controls=0&modestbranding=1">
                                            <iframe allowfullscreen="" height="394"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite ground bathroom">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-2-2.jpg" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="images/Gallery/Gallery-10.jpg" class="img-responsive" alt="Product" title="images products"></a>
                                    <p>Lorem Ipsutm is simply dummy text of the printing</p>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope  ground bathroom  suite dining">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-3-3.jpg" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="images/Gallery/Gallery-9.jpg" class="img-responsive" alt="Product" title="images products"></a>
                                    <p>Lorem Ipsutm is simply dummy text of the printing</p>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite ground  bathroom">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-1-1.jpg" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="images/Gallery/Gallery-13.jpg" class="img-responsive" alt="Product" title="images products"></a>
                                    <p>Lorem Ipsutm is simply dummy text of the printing</p>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope  suite ground bathroom ">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-.jpg" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="images/Gallery/Gallery-14.jpg" class="img-responsive" alt="Product" title="images products"></a>
                                    <p>Lorem Ipsutm is simply dummy text of the printing</p>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope  suite ground  ">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-1-1.jpg" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="images/Gallery/Gallery-11.jpg" class="img-responsive" alt="Product" title="images products"></a>
                                    <p>Lorem Ipsutm is simply dummy text of the printing</p>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite ground bathroom dining">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-2-2.jpg" data-littlelightbox-group="gallery" title="Flying is life"><img src="images/Gallery/Gallery-12.jpg" alt="#" class="img-responsive"></a>
                                    <div class="section-video ">
                                        <a class="btn-play" href="#modal-video-1"></a>
                                        <div class="modal-video" data-video="https://www.youtube.com/embed/ibuUmMhD2Pg" data-query-string="ecver=1&autoplay=1&showinfo=0&controls=0&modestbranding=1">
                                            <iframe allowfullscreen="" height="394"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite   dining">
                            <div class="wrap-box-1">
                                <div class="box-img">
                                    <a class="lightbox " href="images/Gallery/Gallery-3-3.jpg" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="images/Gallery/Gallery-15.jpg" class="img-responsive" alt="Product" title="images products"></a>
                                    <p>Lorem Ipsutm is simply dummy text of the printing</p>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>
            </div>
            <!-- GALLERY CONTENT -->
        </div>
    </div>
</div>