input[type=text], select, textarea, input[type=date],input[type=number],  {
    width: 80%;
    border: 1px solid #ccc;
    color: #000;
    height: 25px;
}


.row{
padding-top: 10px;
}

label {
    display: inline-block;
}

label :hover{
    display: inline-block;
    color: #8e7037;
}

.modal-content {
    border-radius: 5px;
    background: url("../../assets/images/Home-1/bg-gallery.jpg");
    padding: 20px;
    color: aliceblue;
}


 .read-more {
    
    margin-top: 60px;
    width: 190px;
    height: 40px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    border: 2px solid #ffffff;
    letter-spacing: 2px;
    outline: none;
    background: transparent;
}

 .read-more:hover {
        color: #ffffff;
        text-shadow: none;
        background: #8e7037;
        border: 1px solid #8e7037;
    }

    .read-more:focus {
        color: #FFF;
        background: #8e7037;
        outline: none;
        border: 1px solid #8e7037; 
    }

    .modal-title{
        text-align: center;
        color: #8e7037;
        font-size: 25px;
        font-weight: 150;
    }
    
  .rooms .outline {
    width: 100%;
    height: 25px;
    background: url("../../assets/images/Home-1/icon-our.png") no-repeat center center;
    margin-top: 10px; }
      
    .center {
        text-align: center;
    }
      
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}