<!--component html goes here -->
<div class="modal-dialog modal-lg" draggable="true">

    <div class="modal-content" style="overflow: auto">
  
        <div class="modal-title">Book Rooms</div>
          <div class="center">
              <img src="../../assets/images/Home-1/icon-our.png">
          </div>
        <div class="outline"></div>
      <form [formGroup]="bookform" (ngSubmit)="submit()">
      <div class="modal-body" style="border:1px;">
          <div class="form-group">
                <div class="row" style="padding-top: 25px">
                  <div class="col-md-3">
                        <label>Check-in:
                          <sup>*</sup>
                        </label>
                  </div>
                  <div class="col-md-3">      
                       <input type="date" formControlName="StartDate">
                  </div>
                  <div class="col-md-3">
                        <label>Check-out:
                          <sup>*</sup>
                        </label>
                  </div>
                  <div class="col-md-3">     
                         <input type="date" formControlName="EndDate">
                  </div>
                </div>

                <div class="row" style="padding-top: 25px">
                    <div class="col-md-3">
                          <label >Adults
                            <sup>*</sup>
                          </label>
                  </div>
                  <div class="col-md-3">     
                         <input type="number" formControlName="Days">
                  </div>
                  <div class="col-md-3">
                          <label >Childrens:
                            <sup>*</sup>
                          </label>
                  </div>
                  <div class="col-md-3">
                         <input type="number">
                  </div>
                </div>
                
                <div class="row" style="padding-top: 25px">
                  <div class="col-md-3">
                          <label >Room Category:
                            <sup>*</sup>
                          </label>
                  </div>
                  <div class="col-md-3">
                            <!-- <label for="category">Category</label> -->
                          <select id="category" formControlName="RCatID"> 
                              <option value="1">Standard</option>
                              <option value="2">Sharing Bathrooms</option>
                              <option value="3">Deluxe</option>
                              <option value="4">Deluxe Triple</option>
                          </select>
                  </div>
                  <div class="col-md-3">
                          <label >Room subcategory:
                            <sup>*</sup>
                          </label>
                  </div>
                  <div class="col-md-3">  
                            <!-- <label for="category">Category</label> -->
                          <select id="subcategory" formControlName="RSCatID" (click)="checkrent()">
                              <option value="1">Single Non-AC</option>
                              <option value="2">Double Non-AC</option>
                              <option value="3">Single AC</option>
                              <option value="4">Double AC</option>
                              <option value="5">Triple AC</option>
                              <option value="6">Extra Bed on Request</option>
                          </select>
                  </div>
                </div>
                <div class="row" style="padding-top: 25px">
                  <div class="col-md-3">
                          <label >Mobile number
                            <sup>*</sup>
                          </label>
                  </div>
                  <div class="col-md-3">
                        <input type="number" formControlName="Mobile">
                  </div>
                  <div class="col-md-3">
                          <label >Email:
                            <sup>*</sup>
                          </label>
                  </div>
                  <div class="col-md-3">  
                          <input type="text" formControlName="Email">
                  </div>
                </div>
                <div class="row" style="padding-top: 25px" >
                  <div class="col-md-3">
                          <label >Rent Per Day:
                          </label>
                  </div>
                  <div class="col-md-1" >
                    <i class="fa fa-refresh" (click)="checkrent()" aria-hidden="true"></i>
                  </div>
                  <div class="col-md-2" *ngIf="this.room">
                        <label> {{this.room[0].Rent}}</label>
                  </div>
                </div>
          </div>
      </div>

        <div class="modal-footer">
          <button type="submit" class="read-more">Submit</button>
          &nbsp;
          <button type="button" class="read-more" (click)="this.close()">Close</button>
        </div>

      </form>

    </div>
  </div>