<section class="banner-tems text-center">
    <div class="container">
        <div class="banner-content">
            <h2>Contact us</h2>
            <p></p>
        </div>
    </div>
</section>
<!-- CONTACT -->
<section class="section-contact">
    <div class="container">
        <div class="contact">
            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <div class="text">
                        <h2>Contact</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        <ul>
                            <li><i class=" fa ion-ios-location-outline"></i> #16, A V Road, opp kalasipalaya Bus Stand,<br> Near S N Travels, Kalasipalaya, Bengaluru-560002.</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> +91 80 43943337 / 38  </li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i>info@theloungehotel.corn</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-lg-offset-1">
                    <div class="contact-form">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" class="field-text" name="name" placeholder="Name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="field-text" name="email" placeholder="Email">
                                </div>
                                <div class="col-sm-12">
                                    <input type="text" class="field-text" name="subject" placeholder="Subject">
                                </div>
                                <div class="col-sm-12">
                                    <textarea cols="30" rows="10" name="message" class="field-textarea" placeholder="Write what do you want"></textarea>
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-room">SEND</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END / CONTACT -->
<!-- MAP -->
<div class="section-map">
    <iframe src="https://www.google.com/maps/place/{{this.url}}" height="470" allowfullscreen></iframe>
</div>