<section class="section-slider height-v">
    <div class="carousel-wrapper">
        <span id="item-1"></span>
        <span id="item-2"></span>
        <span id="item-3"></span>
        <div class="carousel-item item-1">
          <a class="arrow arrow-prev" href="#item-3"></a>
          <a class="arrow arrow-next" href="#item-2"></a>
        </div>
        
        <div class="carousel-item item-2">
          <a class="arrow arrow-next" href="#item-3"></a>
        </div>
        
        <div class="carousel-item item-3">
          <a class="arrow arrow-prev" href="#item-2"></a>
          <a class="arrow arrow-next" href="#item-1"></a>
        </div>
      </div>
    <div class="check-avail">
        <div class="container">
            <div style="margin:auto;right: 50%">
                <div class="btn" (click)="roombook()">BOOK NOW</div>
            </div>
        </div>
    </div>
</section>
<!-- END / SLIDER -->
<!-- OUR-ROOMS-->
<section class="rooms">
    <div class="container">
        <h2 class="title-room">Our Rooms</h2>
        <div class="outline"></div>

        <div class="wrap-rooms">
            <div class="row">
                <div id="rooms" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 " *ngFor="let room of this.rooms | slice:0:6">
                            <div class="wrap-box">
                                <div class="box-img" *ngIf="room.Image">
                                    <img src="http://theloungehotel.com/{{room.Image[0].Name}}" class="img-responsive" alt="{{getCatName(room.RCatID, this.categories)}}"
                                        title="{{getCatName(room.RCatID, this.categories)}}">
                                </div>
                                <div class="rooms-content" *ngIf="room.RCatID">
                                    <h4 class="sky-h4">{{getCatName(room.RCatID)}}</h4>
                                    <p style="color:#919191">{{getSubCatName(room.RSCatID)}}</p>
                                    <p class="price">₹ {{room.Rent}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- /container -->
</section>
<!-- END / ROOMS -->
<!-- ABOUT-US-->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                <div class="about-centent">
                    <h2 class="about-title">About Us</h2>
                    <div class="line"></div>
                    <p class="about-p">Contrary to popular belief, Lorem isn’t simply random text. It has roots in
                        a of classical Latin literature from 45 BC, making it over 2000 years old. Avalon’s leading
                        hotels with gracious island hospitality, thoughtful amenities and distinctive</p>
                    <p class="about-p1">Richard McClintock, a Latin professor at Hampden-Sydney College in
                        Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                        passage ...</p>
                    <a href="#" class="read-more" routerLink="/aboutus">READ MORE </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 ">
                <div class="about-img">
                    <div class="img-1">
                        <img src="assets/images/Home-1/about-3.jpg" class="img-responsive" alt="Image">
                        <div class="img-2">
                            <img src="assets/images/Home-1/about-1.jpg" class="img-responsive" alt="Image">
                        </div>
                        <div class="img-3">
                            <img src="assets/images/Home-1/about-2.jpg" class="img-responsive" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END/ ABOUT-US-->
<!-- BEST -->
<section class="best">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="wrap-best">
                    <div class="icon-best">
                        <img src="assets/images/Home-1/about-icon-1.png" class="img-responsive" alt="Image">
                    </div>
                    <h6 class="sky-h6">Master Bedrooms</h6>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="wrap-best">
                    <div class="icon-best">
                        <img src="assets/images/Home-1/about-icon-10.png" class="img-responsive" alt="Image">
                    </div>
                    <h6 class="sky-h6">Television</h6>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="wrap-best">
                    <div class="icon-best">
                        <img src="assets/images/Home-1/about-icon-3.png" class="img-responsive" alt="Image">
                    </div>
                    <h6 class="sky-h6">Shower & Toiletries</h6>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="wrap-best">
                    <div class="icon-best">
                        <img src="assets/images/Home-1/about-icon-4.png" class="img-responsive" alt="Image">
                    </div>
                    <h6 class="sky-h6">Wifi Coverage</h6>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="wrap-best">
                    <div class="icon-best">
                        <img src="assets/images/Home-1/about-icon-5.png" class="img-responsive" alt="Image">
                    </div>
                    <h6 class="sky-h6">AwESOME pACKAGES</h6>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="wrap-best">
                    <div class="icon-best">
                        <img src="assets/images/Home-1/about-icon-6.png" class="img-responsive" alt="Image">
                    </div>
                    <h6 class="sky-h6">cLEANING eVERDAY</h6>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="wrap-best">
                    <div class="icon-best">
                        <img src="assets/images/Home-1/about-icon-9.png" class="img-responsive" alt="Image">
                    </div>
                    <h6 class="sky-h6">Towel</h6>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="wrap-best">
                    <div class="icon-best">
                        <img src="assets/images/Home-1/about-icon-8.png" class="img-responsive" alt="Image">
                    </div>
                    <h6 class="sky-h6">Airport Taxi</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END / BEST -->
<!-- TESTIMONOALS -->
<section class="testimonials">
    <div class="testimonials-h">
        <div class="testimonials-content">
            <div class="container">
                <div id="testimonials" class="owl-carousel owl-theme">
                    <div class="item ">
                        <div class="img-testimonials"><img src="assets/images/About/about-3.png" alt="#"></div>
                        <p class="testimonials-p"><span>“</span>​‌ This is the only place to stay in Bangalore! I
                            have stayed in the cheaper hotels and they were fine, but this is just the icing on the
                            cake! After spending the day bike riding and hiking to come back and enjoy a glass of
                            wine while looking out your <span>​‌​‌”</span> </p>
                        <h5 class="sky-h5">ADAM ROSE</h5>
                        <p class="testimonials-p1">From Los Angeles, California</p>
                    </div>
                    <!-- <div class="item">
                        <div class="img-testimonials"><img src="assets/images/Home-1/about-testimonials-img.png" alt="#"></div>
                        <p class="testimonials-p"><span>“</span>​‌ Thisis the only place to stay in Catalina! I
                            have stayed in the cheaper hotels and they were fine, but this is just the icing onthe
                            cake! After spending the day bike riding and hiking to come back and enjoy a glass of
                            wine while looking out your <span>​‌​‌”</span> ocean view window and then to top it all
                            off...</p>
                        <h5 class="sky-h5">JULIA ROSE</h5>
                        <p class="testimonials-p1">From Los Angeles, California</p>
                    </div>
                    <div class="item">
                        <div class="img-testimonials"><img src="assets/images/Home-1/about-testimonials-img.png" alt="#"></div>
                        <p class="testimonials-p"><span>“</span>​‌ This is the only place to stay in Catalina! I
                            have stayed in the cheaper hotels and they were fine, but this is just the icing on the
                            cake! After spending the day bike riding and hiking to come back and enjoy a glass of
                            wine while looking out your <span>​‌​‌”</span> ocean view window and then to top it all
                            off...</p>
                        <h5 class="sky-h5">JULIA ROSE</h5>
                        <p class="testimonials-p1">From Los Angeles, California</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END / TESTIMONOALS -->

<!-- OUR-GALLERY-->
<section class="gallery-our">
    <div class="container-fluid">
        <div class="gallery">
            <h2 class="title-gallery">Our Gallery</h2>
            <div class="outline"></div>
            <br />
            <div class="tab-content">
                <div id="Hotel" class="tab-pane fade in active">
                    <div class="product ">
                        <div class="row">
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-1.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main " title>
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-1-1.jpg"
                                                data-littlelightbox-group="gallery" title="Luxury Room view all"><i
                                                    class="ion-ios-plus-empty" aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-2.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-2-2.jpg"
                                                data-littlelightbox-group="gallery" title="HIHI"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-3.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-3-3.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-4.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-4-4.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-5.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-5-5.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-6.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-6-6.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-7.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-7-7.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-8.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-8-8.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <div class="product ">
                        <div class="row">
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-6.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-2-2.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-7.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-3-3.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-8.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-4-4.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <div class="product ">
                        <div class="row">
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-7.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-2-2.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-8.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-6-6.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <div class="product ">
                        <div class="row">
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-3.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-2-2.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-4.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-2-2.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-5.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-2-2.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-6.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-2-2.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-7.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-2-2.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                <div class="wrap-box">
                                    <div class="box-img">
                                        <img src="assets/images/Home-1/gallery-8.jpg" class="img-responsive" alt="Product"
                                            title="images products">
                                    </div>
                                    <div class="gallery-box-main">
                                        <div class="gallery-icon">
                                            <a class="lightbox " href="assets/images/Home-1/gallery-2-2.jpg"
                                                data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end-tab-content -->
            <!-- <div class="text-center">
                <button type="button" class="btn btn-default btn-our">VIEW MORE</button>
            </div> -->
        </div>
        <!-- /gallery -->
    </div>
    <!-- /container -->
</section>
<!-- END / OUR GALLERY -->